{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block body %}

    {# <div class=" m-1 pb-2 text-md-center text-start">
        <h1> Panel Rejestracji </h1>   
        <h5 class="m-5">
            <p class="text-success">Twoje konto zostało aktywowane!</p>
            <p class="text-dark">Możesz teraz się <a href ="/login"> zalogować</a> </p>
        </h5>
    </div> #}
    <main>
        <section>
            <div class="container-fluid">
                <div class="row align-items-center vh-100">       
                    <div class="col-9 col-md-8 col-lg-5 login mt-2 pt-2 mt-md-5 pt-md-3">
                        
                        <div class=" m-1 pb-2 text-md-center text-start">
                            <h5 class="m-5">
                                <p class="text-success">Twoje konto zostało aktywowane!</p>
                                <p class="text-dark">Możesz teraz się <a href ="/login"> zalogować</a> </p>
                            </h5>
                        </div>
                        
                    </div>
                </div>   
            </div>
        </section>
    </main>
    
   
{% endblock %}