body 
{
    background-color: white;
	margin:0;

}

.login
{
	background-color: #f9f9fc;
	margin-left:auto;
	margin-right:auto;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	border-radius: 10px;
} 

.icon-plus { font-size: 20px; padding-right:5px; color: white;}
.icon-minus{ font-size: 20px; padding-right:5px; color: white; }
.icon-down-dir { font-size: 20px; padding-right:5px; color: #4db6ac;}
.icon-up-dir{font-size: 20px; padding-right:5px; color: #4db6ac;}
.icon-trash-empty { font-size: 20px; padding-right:5px; color: #e60e07;cursor: pointer;}
.icon-basket { font-size: 20px; padding-right:5px; color: #4db6ac; }
.icon-wallet{ font-size: 20px; padding-right:5px; color: #4db6ac;}
.icon-money { font-size: 20px; padding-right:5px; color: #4db6ac;}
.icon-power { font-size: 20px; padding-right:5px; color: #e60e07;}
.icon-cogs { font-size: 20px; padding-right:5px; color: #4db6ac;}
.icon-edit { font-size: 20px; padding-right:5px; color: #4db6ac; cursor: pointer;}
.icon-menu-outline { font-size: 20px; padding-right:5px; color: #4db6ac;}
.icon-chart-bar { font-size: 20px; padding-right:5px; color: #4db6ac;}
.icon-user-male { font-size: 20px; padding-right:5px; color: #4db6ac;}
.icon-dollar { font-size: 20px; padding-right:5px; color: #4db6ac;}
.icon-money-1 { font-size: 20px; padding-right:5px; color: #4db6ac;}


#help_login
{
	border-top: 1px dashed #d0d7de;
	padding-top: 1em;
	color: #777;

}

a
{
	text-decoration: none;	
	margin-left:10px;
	color: #084f09;
	cursor: pointer;

}

a:hover
{
	text-decoration:none;
	color: #2fd379;
}

input[type=email],
input[type=password],
input[type=text]
{
	background-color: #efefef;
	color: #666;
	border: 2px solid  #ddd;
	border-radius: 10px;
	font-size: 20px;
	box-sizing: border-box;
	outline: none;
}

input[type=email]:focus,
input[type=password]:focus,
input[type=text]:focus

{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	
	border: 2px solid #084f09;
	background-color: #e9f3e9;
	color: #428c42;
}

input[type=reset]
{
	font-size: 20px;
	color: rgba(0, 0, 0, 0.589);
	border-radius: 5px;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
	cursor: pointer;

}

input[type=submit]
{
	background-color: #0fb493;
	font-size: 20px;
	color: white;
	border-radius: 5px;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
	cursor: pointer;

}
input[type=submit]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}
input[type=submit]:hover
{
		background-color: #11c09d;
}

input::-webkit-input-placeholder
{
    color: #999;
}
input:focus::-webkit-input-placeholder
{
    color: #428C42;
}
/* Firefox < 19 */
input:-moz-placeholder
{
    color: #999;
}
input:focus:-moz-placeholder
{
    color: #428C42;
}
/* Firefox > 19 */
input::-moz-placeholder
{
    color: #999;
}
input:focus::-moz-placeholder
{
    color: #428C42;
}
/* Internet Explorer 10 */
input:-ms-input-placeholder
{
    color: #999;
}
input:focus:-ms-input-placeholder
{
    color: #428C42;
}

.registerSelect{	
	background-color: #ececec;
	color: #b1b1b1;
	cursor: pointer;
}

.registerSelect:hover{	
	background-color: #b1b1b1;
	color: white;
}

.registerSelectActive{
	background-color: #b1b1b1;
	color: white;
	
}

.addNewCategory{   
	background-color:#4db6ac; 
	color:white; 
	border-radius: 20px;
	cursor: pointer;
}

.settingsItem{
	cursor: pointer;
	
}

