{% extends 'base.html' %}

{% block title %}Dodaj wydatek{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %} 
    <main onload="set_today()">
        <article>
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-sm-12 parent">
                        <header>
                            <h1 class="h2 font-weight-bold text-uppercase ml-0 mb-4 mt-5 text-center text-md-left">Tutaj możesz dodać swoje wydatki </h1>
                        </header>
                        <form action="expense/save" method="post" enctype="multipart/form-data">
                            <div class="mt-5 p-4 col-lg-6 offset-lg-3 offset-md-1">

                                <div class= "form-group row pb-3">
                                    <label for ="today" class="h6 offset-sm-2 text-u col-form-label col-sm-3 ps-2"> Data</label>
                                    <div class="col col-sm-6 col-md-4">
                                        <input type="date"  id = "today" class="form-control" name="date" min="2000-01-02" required>
                                    </div>
                                </div>	
                                                                    
                                <div class = "form-group row pb-3">
                                    <label for ="kwota" class="h6 offset-sm-2 col-form-label col-sm-3 ps-2"> Kwota w PLN</label>
                                    <div class="col col-sm-6 col-md-4">
                                        <input type="text" class="form-control" name= "amount" id="amount" required> 
                                    </div>
                                </div>
                                                                
                                <div class= "row ">
                                    <fieldset class="mb-5 text-md-center text-left m-2">
                                        <label class="h5 text-center text-uppercase m-2 pb-2 pt-4 w-100">Wybierz sposób płatności</label>	


                                        {% for category in payment_methods %}
                                            
                                            <div class="form-check form-check-inline col-5"> 
                                                <input class="form-check-input" type="radio" name ="payment" id="radio{{ category['id'] }}" value="{{ category['id'] }}" checked>
                                                <label class="form-check-label" for="radio{{ category['id'] }}">{{ category['name'] }}</label> 
                                            </div>
                                        {% endfor %}

                                    </fieldset>
                                </div>
                            </div>

                            <div class= "row ">
                                <fieldset class="mb-5 text-center">

                                    <label class="h5  text-uppercase pb-2"> Wybierz kategorie wydatku </label>
                                    <div class="col-11 mb-2 ms-5 me-5 mx-auto d-block text-left">

                                        {% for category in expense_categories %}

                                            <div class="form-check form-check-inline col-5 col-md-2 px-1" > 
                                                <input class="form-check-input" type="radio" name ="expense" id="radio{{ category['id'] }}" value="{{ category['id'] }}" checked>
                                                <label class="form-check-label" for="radio{{ category['id'] }}">{{ category['name'] }}</label> 
                                            </div>
                                        {% endfor %}                                
                                    </div>

                                </fieldset>

    
                            </div>					
                                
                            <div class= "row">
                                    <textarea class ="col-md-6 col-10 offset-1 offset-md-3 mb-2" name="comment" id="comment" rows="4"  maxlength ="50"  placeholder="Dodaj komentarz (opcjonalnie)"></textarea>
                            </div>
                        
                            <div class ="row pt-4 mb-4">
                                <div class=" col-md-4 col-10 d-block mx-auto"> 
                                    <input class="h6 col-12 px-4 py-2 mb-4 " type="submit" value= "DODAJ"> 
                                    <input class="h6 col-12 px-4 py-2" type="reset" value= "ANULUJ"> 
                                </div>                              
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </article>
    </main>

{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}     
