{% extends 'base.html' %}

{% block title %}Dodaj wydatek{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %} 
    <main>
        <article>
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-sm-12 parent">
                        <header>
                            <h1 class="h2 font-weight-bold text-uppercase ml-0 mb-4 mt-5 text-center text-md-left">Tutaj możesz dodać swoje wydatki </h1>
                        </header>
                        <h6> 
                            <p id="infoText" class="text-center d-none" >
                               
                            </p>
                        </h6>

                        <div id="infoBox" class=" col col-md-6 mx-auto d-block bg-warning text-center p-2 d-none" >
                            
                                <h6 id="limitBox" class="d-block d-md-inline p-2 col col-md-3"></h6>
                            
                                <h6 id="expenseBox" class="d-block d-md-inline p-2 col col-md-3"></h6>
                           
                                <h6 id="diffrenceBox" class="d-block d-md-inline p-2 col col-md-3"></h6>
                                
                                <h6 id="newExpenseBox"class="d-block d-md-inline p-2 col col-md-3"></h6>
                        </div>

                        <form action="expense/save" method="post" enctype="multipart/form-data">
                            <div class="mt-5 p-4 col-lg-6 offset-lg-3 offset-md-1">

                                <div class="form-floating ">
                                    <select class="form-select" id="expense" name="expense" aria-label="Floating label select example" required >
                                    {# <option selected>Wybierz</option> #}
                                    {% for category in expense_categories %}
                                    <option  value="{{ category['id'] }}" id="{{ category['id'] }}">{{ category['name'] }} </option>
                                    {% endfor %}
                                    </select>
                                    <label for="expense">Kategoria zakupu</label>
                                </div>

                                <div class="form-floating mt-3">
                                    <input type="date" name="date" class="form-control" id="today" min="1991-01-01" placeholder="Data" required>
                                    <label for="today">Data</label>
                                </div>     
                                
                                <div class="form-floating mt-3">
                                    <input type="number" class="form-control" name= "amount" id="amount" min="0" step="0.01" required placeholder="Kwota">
                                    <label for="amount">Kwota</label>
                                </div>

                                <div class="form-floating mt-3">
                                    <select class="form-select" id="payment" name="payment" aria-label="Floating label select example" required>
                                    {# <option selected>Wybierz</option> #}
                                        {% for category in payment_methods %}
                                            <option  value="{{ category['id'] }}" id="{{ category['id'] }}">{{ category['name'] }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="payment">Sposób płatności</label>
                                </div>

                                <div class="form-floating my-3">
                                    <textarea class="form-control" name="comment" id="comment" rows="1"  maxlength ="100"  placeholder="Dodaj komentarz (opcjonalnie)" id="floatingTextarea2" style="resize:none;"></textarea>
                                    <label for="floatingTextarea2">Komentarz</label>
                                </div>

                                <div class=" text-center mx-auto d-block mt-5"> 
                                    <input class="h6 col-12 col-sm-5 py-3  " type="submit" value= "DODAJ"> 
                                    <input class="h6 col-12 col-sm-5 py-3" type="reset" value= "ANULUJ"> 
                                </div>      
                            </div>                        
                        </form>
                    </div>
                </div>
            </div>

        </article>
    </main>

{% endblock %}

{% block footer %}
    {{ parent() }}
    <script src="/js/limit.js"></script>
    <script src="/js/present_day.js"></script>
    <script src="/js/validation.js"></script>


{% endblock %}     
