{% extends 'base.html' %}

{% block title %}Odzyskiwanie hasła{% endblock %}

{% block body %}

    <main>
        <div class="container-fluid">
            <div class="row align-items-center vh-100">       
                <div class="col-9 col-md-8 col-lg-5 login mt-2 pt-2 mt-md-5 pt-md-3">
                    
                    <div class=" m-1 pb-2 text-md-center text-start">
                        <h5 class="m-5">
                            <p class="text-dark">
                                Otrzymasz wkrótce email umożliwiający zresetowanie hasła! 
                            </p>
                        </h5>
                    </div>
                    
                </div>
            </div>   
        </div>
    </main>
  
{% endblock %}