{% extends 'base.html' %}

{% block title %} Bilans {% endblock %}

{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        google.charts.load('current', {'packages': ['corechart']});
        {% if 
            result_income is not null and 
            result_income is not empty and
            result_expense is not null and 
            result_expense is not empty 
            %}
            google.charts.setOnLoadCallback(drawIncomePieChart);
            google.charts.setOnLoadCallback(drawexpensePiechart);
        {% else %}
            document.getElementById("chartContainerExpense").style.display = "none";
            document.getElementById("chartContainerIncome").style.display = "none";

        {% endif %}
        
        function drawIncomePieChart(){
            const data = google.visualization.arrayToDataTable([
                ['Category', 'Income Amount'],
                {% for income in result_income %}
                ['{{ income.name }}', {{ income.amount | number_format(2, '.', '') }}],
                {% endfor %}
            ]);

            const options = {
                //title: 'BILANS WPŁYWÓW',
                is3D: false,
                legend:'none',
                width: '100%',
                height: '100%',
                backgroundColor: 'transparent',
                colors: ['#0fb493', '#0e8f75', '#0b725e', '#0a7660','#075042']
            };

            document.getElementById("chartContainerIncome").style.display = "block";

            const chart = new google.visualization.PieChart(document.getElementById('chartContainerIncome'));
            chart.draw(data, options);

        }

        function drawexpensePiechart(){
            const data = google.visualization.arrayToDataTable([
                ['Category', 'Expense Amount'],
                {% for expense in result_expense %}
                ['{{ expense.name }}', {{ expense.amount | number_format(2, '.', '') }}],
                {% endfor %}
            ]);
    
            const options = {
                //title: 'BILANS WYDATKÓW',
                is3D: false,
                legend:'none',
                width: '100%',
                height: '100%',
                backgroundColor: 'transparent',
                colors: ['#0fb493', '#0e8f75', '#0b725e', '#0a7660','#075042']

            };

            document.getElementById("chartContainerExpense").style.display = "block";

            const chart = new google.visualization.PieChart(document.getElementById('chartContainerExpense'));
            chart.draw(data, options);
            
        }


    </script>
    <script type="text/javascript">
        function showHideDiv() {
            //document.getElementById('welcomeDiv').style.display = "block";
            var x = document.getElementById("showHide");
            if (x.style.display === "none") {
                x.style.display = "block";
            } 
            else {
                x.style.display = "none";
            }
        }
    </script>

{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %} 

    <div class="container-fluid">
        <main>
            <section>
                <div class="row">
                    <div class=" card col-11 col-md-6 mx-auto d-block" >
                        <form id="form1" action="balance" method="post" enctype="multipart/form-data">
                            <div id = "wybor" class= " card-body text-center h6 text-uppercase mb-md-4 mt-4">  
                                <legend class="fw-bolder pb-3 d-block"> Wybierz okres na bilans </legend>
                                <div class="form-check form-check-inline mt-2">
                                    {% if session.previous_month %}
                                        <input  class="btn-check " type="radio" name ="wybor" value="1" id="btn-check-1-outlined" checked autocomplete="off" onclick="document.getElementById('form1').submit()">
                                        <label class="btn btn-outline-secondary" for="btn-check-1-outlined"> Poprzedni miesiąc </label> 
                                    {% else %}
                                        <input  class="btn-check " type="radio" name ="wybor" value="1" id="btn-check-1-outlined" autocomplete="off" onclick="document.getElementById('form1').submit()">
                                        <label class="btn btn-outline-secondary" for="btn-check-1-outlined"> Poprzedni miesiąc </label> 
                                    {% endif %}
                                </div>     

                                <div class="form-check form-check-inline mt-2">
                                            {% if session.present_month %}
                                            <input type="radio" class="btn-check" id="btn-check-2-outlined" name ="wybor" value="2"  checked autocomplete="off" onclick="document.getElementById('form1').submit()">
                                            <label class="btn btn-outline-secondary" for="btn-check-2-outlined">Bieżący miesiąc</label>
                                        {% else %}
                                            <input type="radio" class="btn-check" id="btn-check-2-outlined" name ="wybor" value="2"   autocomplete="off" onclick="document.getElementById('form1').submit()">
                                            <label class="btn btn-outline-secondary" for="btn-check-2-outlined">Bieżący miesiąc</label>
                                        {% endif %}
                                </div>

                                <div class="form-check form-check-inline mt-2 ">
                                    {% if session.present_year %}
                                        <input type="radio" class="btn-check" id="btn-check-3-outlined" name ="wybor" value="3"   checked autocomplete="off" onclick="document.getElementById('form1').submit()">
                                        <label class="btn btn-outline-secondary" for="btn-check-3-outlined">Bieżący rok</label>
                                    {% else %}
                                        <input type="radio" class="btn-check" id="btn-check-3-outlined" name ="wybor" value="3"   autocomplete="off" onclick="document.getElementById('form1').submit()">
                                        <label class="btn btn-outline-secondary" for="btn-check-3-outlined">Bieżący rok</label>
                                    {% endif %}
                                </div>

                                <div class="form-check form-check-inline mt-2 ">
                                    {% if session.non_standard %}
                                        <input  class="btn-check " type="radio" name ="wybor" value="4" id="btn-check-4-outlined" checked autocomplete="off" onclick="showHideDiv()">
                                        <label class="btn btn-outline-secondary" for="btn-check-4-outlined"> Niestandarowy </label> 
                                        
                                    {% else %}
                                        <input  class="btn-check " type="radio" name ="wybor" value="4" id="btn-check-4-outlined"  autocomplete="off" onclick="showHideDiv()">
                                        <label class="btn btn-outline-secondary" for="btn-check-4-outlined" > Niestandarowy </label> 
                                    {% endif %}
                                </div>
                            </div>

                            <div  id="showHide" class="col-10 mx-auto"style="display:none;">
                                <div class="d-block col col-sm-6 col-md-4">
                                    <input type="date"  id = "date1" class="form-control" name="date1">
                                </div>

                                <div class="col col-sm-6 col-md-4">
                                    <input type="date"  id = "date2" class="form-control" name="date2">         
                                </div> 

                                <div class="mt-2 col col-sm-6 col-md-4">
                                    <input class="h6 col-12  px-4 py-2 mb-4 d-block mx-auto " type="submit" value= "Pokaż bilans"> 
                                </div>
                            </div> 

                            <input type="submit" name="send" id="send-button" style="display: none">                           
                        </form>
                    </div>
                </div>
            </section>

           

            <div class="col-md-8 col-12 pt-lg-2 table-responsive offset-md-2 d-block bg-white rounded px-1 mb-5 mt-5">
                <article>
                        <div class="card m-auto">
                            <section>
                                <div class="card-header">
                                    <h6 class="pt-2 text-center fw-bolder" style="letter-spacing: 1px;">
                                       
                                        PODSUMOWANIE TWOICH WYDATKÓW I WPŁYWÓW <span style="color:rgba(59, 59, 61, 0.537)" >{{ session.date1 }} </span>- <span style="color:rgba(59, 59, 61, 0.537)">{{ session.date2 }}</span>

                                    </h6>
                                </div>
                                </section>
                        
                                <section>
                                 <div class="card-body">
                                    <div id="chartContainerIncome" class="text-start"  style="display:none; height: 300px;"></div>
                                </div>
                                </section>

                                <section>

                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Lp.</th>
                                            <th scope="col">Kategoria przychodu</th>
                                            <th scope="col">Kwota przychodu</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    {% set i = 0 %}
                                    {% set suma1 = 0 %}


                                    {% for row in result_income %}
        
                                        <tr>
                                        <th scope="row">{{ i +1 }}</th>
                                        <td>{{row['name']}}</td>
                                        <td>{{row['amount']|number_format(2, '.',',')}} PLN</td>
                                        </tr>

                                        {% set i = i +1 %}
                                        {% set suma1 = suma1 +row['amount'] %}

                                    {% endfor %}

                                        <tr class="table-warning fw-bold">
                                            <td colspan="2" class="text-center text-uppercase">suma przychodów </td>
                                            <td> {{suma1|number_format(2, '.',',') }} PLN</td>
                                         </tr>

                                    </tbody>
                                </table>
                                </section>

                                <section>
                                    <div class="card-body">
                                       <div id="chartContainerExpense" style="display:none; height: 300px; "></div>
                                       <!--  //style="height: 370px; width: 100%; display:none; -->
                                   </div>
                                </section>

                                <section>
                                <table class="table table-hover mb-2">
                                    <thead>
                                        <tr>
                                            <th scope="col">Lp.</th>
                                            <th scope="col">Kategoria wydatku</th>
                                            <th scope="col">Kwota wydatku</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% set i = 0 %}
                                        {% set suma2 = 0 %}


                                        {% for row in result_expense %}
        
                                        <tr>
                                            <th scope="row">{{ i +1 }}</th>
                                            <td>{{row['name']}}</td>
                                            <td>{{row['amount']|number_format(2, '.',',')}} PLN</td>
                                        </tr>

                                        {% set i = i +1 %}
                                        {% set suma2 = suma2 +row['amount'] %}

                                    {% endfor %}

                                    {# //echo number_format((float)$zoo, 2, '.', ''); #}
                                     <tr class="table-warning fw-bold">
                                        <td colspan="2" class="text-center text-uppercase">suma wydatków </td>
                                        <td> {{ suma2|number_format(2, '.',',') }} PLN</td>
                                     </tr>                                           
                                    </tbody>										
                                </table>
                                </section>

                                <section>

                                    {% if suma1 > suma2 %}
                                        {% set difference = suma1 - suma2 %}
                                        <div class= "bg-success text-light text-center fw-bold p-2 mt-3">   GRATULACJE! ZAOSZĘDZONO: {{ difference|number_format(2, '.',',') }} PLN </div>
                                    
                                    {% elseif suma2 > suma1 %}
                                        {% set debt = suma2 - suma1 %}
                                        <div class= "bg-danger text-light text-center fw-bold p-2 mt-3"> UPSSS... TWÓJ DEBET WYNOSI: {{ debt|number_format(2, '.',',') }} PLN </div>

                                    {% else %}
                                        <div class= "bg-warning text-light text-center fw-bold p-2 mt-3"> Twoje saldo wynosi 0 PLN </div>
                                    {% endif %}                              
                            </section>
                        </div>
                </article>
            </div>
        </main>
    </div>
{% endblock %}
     
{% block footer %}
    {{ parent() }}
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	<script type="text/javascript">
      window.onload = function() 
    {
	  
		var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            title: {
                text: "Usage Share of Desktop Browsers"
            },
            data: [{
                type: "pie",
                yValueFormatString: "#,##0.00\"%\"",
                indexLabel: "{label} {y}",
				
            }]
        });
    }		
 </script>
{% endblock %}