{% extends 'base.html' %}

{% block title %}Dodaj przychód{% endblock %}

{% block head %}
    {{ parent() }}        
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %} 
    <main>
        <article>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <header>
                            <p class="h4 font-weight-bold text-uppercase ml-0 mb-4 mt-5 text-center text-md-left">Ustawienia </p>
                        </header>

                        <div class="col-10 bg-light p-1 m-1 mx-auto d-block  text-center settingsItem" id="incomeCategoryMenu">
                            <p class = "d-inline" >
                                <i class = "icon-money"></i>
                                Kategorie przychodów 
                            </p>
                            <i id="incomeCategoryIcon" class = "d-inline icon-down-dir ps-auto" style="float:right"></i>
                        </div>

                        <div class="col-10 m-3 mx-auto" style="display:none" id="incomeCategory">    
                            <section>    
                                <div class="col p-1 mb-1 mx-auto d-block ps-3 addNewCategory">
                                    <p class = "d-inline">
                                        Nowa kategoria
                                    </p>
                                    <i id="incomeAddIcon" class = "d-inline icon-plus pe-3" style="float:right"></i>
                                </div>

                                {% for row in incomeCategories %}
                                    <div class="col bg-light p-1 mb-1 mx-auto d-block ps-3">
                                        <p class = "d-inline" >
                                            {{row['name']}} 
                                            {% set id_catInc =row['id'] %} 
                                        </p>

                                        <form method="post" action="settings/deleteIncomeCategory" enctype="multipart/form-data" id="formCatInc{{ row['id'] }}" class = "d-inline" style="float:right"> 
                                            <input name="incomeCategoryItem" id="categoryIncomeItem{{ row['id'] }}" value="{{ row['id'] }}" style="display: none"></input>
                                            <i id="incomeTrashIcon" class = "icon-trash-empty pe-3"
                                             onclick="document.getElementById('formCatInc{{ id_catInc }}').submit()" > </i> 
    
                                            <input type="submit" class="bg-transparent" style="display: none"></input>
                                        </form>

                                        <i id="incomeEditIcon" class = "d-inline icon-edit pe-1" style="float:right"></i>
                                        
                                        <p class="text-muted m-0 p-0">
                                            <small>Limit: BRAK</small>
                                        </p>
                                    </div>
                                {% endfor %}
                            </section>
                        </div>

                        <div class="col-10 bg-light p-1 m-1 mx-auto d-block text-center settingsItem" id="expenseCategoryMenu">  
                            <p class = "d-inline" >
                                <i class = "icon-basket"></i>
                                Kategorie wydatków 
                            </p>
                            <i id="expenseCategoryIcon" class = "d-inline icon-down-dir ps-auto" style="float:right"></i>
                        </div>

                        <div class="col-10 m-3 mx-auto" style="display:none" id="expenseCategory">    
                            <section>    
                                <div class="col p-1 mb-1 mx-auto d-block ps-3 addNewCategory">
                                    <p class = "d-inline">
                                        Nowa kategoria
                                    </p>
                                    <i id="incomeAddIcon" class = "d-inline icon-plus pe-3" style="float:right"></i>
                                </div>
                                {% for row in expenseCategories %}
                                    <div class="col bg-light p-1 mb-1 mx-auto d-block">
                                        <p class = "d-inline" >
                                            {{row['name']}}
                                            {% set id_catExp =row['id'] %} 
                                        </p>

                                        <form method="post" action="settings/deleteExpenseCategory" enctype="multipart/form-data" id="formCatExp{{ row['id'] }}" class = "d-inline" style="float:right"> 
                                                <input name="expenseCategoryItem" id="categoryExpenseItem{{ row['id'] }}" value="{{ row['id'] }}" style="display: none"></input>
                                                <i id="expenseTrashIcon" class = "icon-trash-empty pe-3"
                                                 onclick="document.getElementById('formCatExp{{ id_catExp }}').submit()" > </i> 
        
                                                <input type="submit" class="bg-transparent" style="display: none"></input>
                                        </form>

                                        
                                        <i id="expenseEditIcon" class = "d-inline icon-edit pe-1" style="float:right"></i>
                                        <p class="text-muted m-0 p-0">
                                            <small>Limit: BRAK</small>
                                        </p>
                                    </div>
                                {% endfor %}
                            </section>
                        </div>

                        <div class="col-10 bg-light p-1 m-1 mx-auto d-block text-center settingsItem" id="paymentsMenu">
                            <p class = "d-inline" >
                                <i class = "icon-money-1"></i>
                                Sposoby płatności 
                            </p>
                            <i id="paymentsIcon" class =  "d-inline icon-down-dir ps-auto" style="float:right"></i>
                        </div>

                        <div class="col-10 m-3 mx-auto" style="display:none" id="payments">    
                            <section>
                                <div class="col p-1 mb-1 mx-auto d-block ps-3 addNewCategory">
                                    <p class = "d-inline">
                                        Nowa kategoria
                                    </p>
                                    <i id="incomeAddIcon" class = "d-inline icon-plus pe-3" style="float:right"></i>
                                </div>    
                                {% for row in payments %}
                                    <div class="col bg-light p-1 mb-1 mx-auto d-block">
                                        <p class = "d-inline" >
                                            {{row['name']}} 
                                            {% set id_catPay = row['id'] %}
                                        </p>

                                        <form method="post" action="settings/deletePaymentCategory" enctype="multipart/form-data" id="formCatPay{{ row['id'] }}" class = "d-inline" style="float:right"> 
                                            <input name="paymentCategoryItem" id="categoryPaymentItem{{ row['id'] }}" value="{{ row['id'] }}" style="display: none"></input>
                                            <i id="paymentsTrashIcon" class = "icon-trash-empty pe-3"
                                             onclick="document.getElementById('formCatPay{{ id_catPay }}').submit()" > </i> 
    
                                            <input type="submit" class="bg-transparent" style="display: none"></input>
                                        </form>

                                        <i id="paymentsEditIcon" class = "d-inline icon-edit pe-1" style="float:right"></i>
                                        <p class="text-muted m-0 p-0">
                                            <small>Limit: BRAK</small>
                                        </p>
                                    </div>
                                {% endfor %}
                            </section>
                        </div>

                        <div class="col-10 bg-light p-1 m-1 mx-auto d-block text-center settingsItem" id="profileMenu">
                            <p class = "d-inline" >
                                <i class = "icon-user-male" ></i>
                                Profil użytkowika 
                            </p>
                            <i id="profileIcon" class =  "d-inline icon-down-dir ps-auto" style="float:right"></i>
                        </div>

                        <div id="profile" style="display:none">
                            <dl class="row mt-5 col-11">
                                <dt class="col-5 text-end ms-3 ">Name: </dt>
                                <dd class="col-5 ps-3">{{ user.name }}</dd>
                                <dt class="col-5 text-end ms-3">email: </dt>
                                <dd class="col-5 ps-3">{{ user.email }} </dd>
            
                                <dl class=" text-center ">
                                    <form method="post" action="profile-edit"> 
                                        <button type="submit" class="col-8 col-md-3 btn btn-outline-success mt-4">Edytuj</button>
                                    </form>
                                </dl>
                            </dl>

                        </div>
                        
                            
                    </div>
                </div>
            </div>
        </article>
    </main>

{% endblock %}

{% block footer %}
    {{ parent() }}
    <script src="/js/settings.js"></script>

{% endblock %}