
.icon-power-outline:before { content: '\e800'; } /* '' */
.icon-cogs:before { content: '\e801'; } /* '' */
.icon-money:before { content: '\e802'; } /* '' */
.icon-edit:before { content: '\e803'; } /* '' */
.icon-chart-bar:before { content: '\e804'; } /* '' */
.icon-power:before { content: '\e805'; } /* '' */
