{% extends 'base.html' %}

{% block title %}Rejest wydatków{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %} 
    <main>
        <article>
            <div class="container-fluid ">
                <div class="row">

                    <div class="col-md mt-4">
                        <div class="card" >
                            <div class="card-body registerSelect p-4">
                                <p class="card-text text-center fw-bold"> 
                                    Rejestr Wydatków 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-4">
                        <div class="card">
                            <div class="card-body registerSelect p-4">
                                <p class="card-text text-center fw-bold"> 
                                    Rejestr Wpływów 
                                </p>
                            </div>
                        </div>
                    </div>
                        {# <header>
                            <h1 class="h2 font-weight-bold text-uppercase ml-0 mb-4 mt-5 text-center text-md-left">Rejestr Wydatków </h1>
                        </header>     #}
                        
                    <div class="col-sm-12" style="display:none">    
                        <section>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Lp.</th>
                                        <th scope="col">Data</th>
                                        <th scope="col">Kategoria</th>
                                        <th scope="col">Kwota</th>
                                        <th scope="col">Metoda</th>
                                        <th scope="col">Komentarz</th>
                                    </tr>
                                </thead>
                                <tbody>

                                {% set i = 0 %}

                                {% for row in expenses %}
    
                                    <tr>
                                        <th scope="row">{{ i + 1 }}</th>
                                        <td>{{row['date_of_expense']}}</td>
                                        <td>{{row['name']}}</td>
                                        <td>{{row['amount']|number_format(2, '.',',')}} PLN</td>
                                        <td>{{row['paymentMethods']}}</td>
                                        <td>{{row['expense_comment']}}</td>
                                    </tr>
                                    {% set i = i +1 %}

                                {% endfor %}

                                </tbody>
                            </table>
                            </section>

                    </div>
                </div>
            </div>
        </article>
    </main>

{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}     
