{% extends "base.html" %}

{% block title %}Profil{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
 {{ parent() }}

{% endblock %}

{% block content %}
<div class="container-fluid">
            <h1 class="text-center mt-4 col-11">Profil Użytkownika</h1>
            
            <dl class="row mt-5 col-11">
                <dt class="col-5 text-end ms-3">Name: </dt>
                <dd class="col-5 ps-3">{{ user.name }}</dd>
                <dt class="col-5 text-end ms-3">email: </dt>
                <dd class="col-5 ps-3">{{ user.email }} </dd>

                <dl class=" text-center ">
                    <form method="post" action="profile-edit"> 
                        <button type="submit" class="col-8 col-md-3 btn btn-outline-success mt-4">Edytuj</button>
                    </form>
                </dl>
            </dl>
</div>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}