{% extends 'base.html' %}

{% block title %}Dodaj przychód{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}    
{% endblock %}

{% block content %} 
    <main onload="set_today()">
        <article>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <header>
                            <h2 class="titlePage  ml-0 mb-4 mt-5 text-md-left">
                                Tutaj możesz dodać swoje przychody 
                            </h2>
                        </header>

                        <form action="income/save" method="post" enctype="multipart/form-data">	
                            <div class="mt-5 p-4 col-lg-6 offset-lg-3 offset-md-1">
   
                                <div class="form-floating mt-3">
                                    <select class="form-select" name="income" id="income" aria-label="Floating label select example" required>
                                    <option selected disabled>Wybierz</option>
                                        {% for category in income_categories %}
                                        <option value="{{ category['id'] }}" id="{{ category['id'] }}">{{ category['name'] }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="income">Kategoria przychodu</label>
                                </div>

                                <div class="form-floating mt-3">
                                    <input type="date" name="date" class="form-control" id="today" min="1991-01-01" placeholder="Data" required>
                                    <label for="today">Data</label>
                                </div> 
                                
                                <div class="form-floating mt-3">
                                    <input type="number" class="form-control" name= "amount" id="amount" min="0" step="0.01" required placeholder="Kwota">
                                    <label for="amount">Kwota</label>
                                </div>

                                <div class="form-floating my-3">
                                    <textarea class="form-control" name="comment" id="comment" rows="1"  maxlength ="100"  placeholder="Dodaj komentarz (opcjonalnie)" id="floatingTextarea2" style="resize:none;"></textarea>
                                    <label for="floatingTextarea2">Komentarz</label>
                                </div>

                                <div class=" text-center mx-auto d-block mt-5"> 
                                    <input class="h6 col-12 col-sm-5 py-3  " type="submit" value= "DODAJ"> 
                                    <input class="h6 col-12 col-sm-5 py-3" type="reset" value= "ANULUJ"> 
                                </div> 
                            </div>                               
                        </form>
                    </div>
                </div>
            </div>
        </article>
    </main>

{% endblock %}

{% block footer %}
    {{ parent() }}
    <script src="/js/validation.js"></script>

{% endblock %}